@model OCOS_System.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("Carousel")

<h2>OCOS System</h2>
<h4>Here to make scheduling a breeze and keep you organized on the job!</h4>